

<!-- <div class='col-20 col-md-50 mb-1 mx-auto'>
<div class='card'>
 
  <div class='card-body'> -->
<h3>Student: {{object.student.first_name}} {{object.student.last_name}}</h3>
    <div class="container-fluid" style="border:1px solid #cecece;"  
    <div class="row">                                           
      <!-- Need to add theme, buttons -->                       
      <div class="col-xs-12">Curriculum:</div>          
    </div>  
      <div class="col-xs-12">{{object.curriculum.name}}</div>               
    </div>  
    <div class="col-xs-12">Completed:</div>          
    </div>     
    <div class="col-xs-12">Required:</div>          
    </div>   
    <div class="col-xs-12">Quarter:</div>          
    </div>   
    <div class="col-xs-12">Week:</div>          
    </div> 
    
    <div class="col-xs-12">Semester:</div>          
    </div> 
    <div class="col-xs-12">Grade:</div>          
    </div> 
    <div class="col-xs-12">Weekly Social Studies Grade:</div>          
    </div> 
    <div class="col-xs-12">Weekly Science Grade:</div>          
    </div>                                               
    <div class="row">                                                                 
     
    {{object.complete}}</div>               
    </div> 
    <div class="row"> {{object.required}}</div>               
    </div>                                                    
    <div class="row"> {{object.quarter}}</div>               
    </div> 
    <div class="row"> {{object.week}}</div>               
    </div> 
    <div class="row"> {{object.semester}}</div>               
    </div> 
    <div class="row"> {{object.grade}}</div>               
    </div> 
</div>   

<!-- <p></p>
      <a href='{{ object.get_edit_url }}' > Edit
        {{object.name}}</a>       
  </div>
</div>
</div> -->


