

<!-- <div class='col-20 col-md-50 mb-1 mx-auto'>
<div class='card'>
 
  <div class='card-body'> -->
  	<h3>Student: {{object.student.first_name}} {{object.student.last_name}}</h3>
  	<!DOCTYPE html>
  	<style>
  		table {border:5px solid Green; border-radius: 13px; border-spacing: 0}

  		table td, th{border: 1px solid Green; padding:10px;}

  			table.roundedCorners tr:last-child>td{border-bottom: non;}
  		}
  	</style>
<table><center>
 
<th><center>Curriculum:</th>
	<th><center>Completed:</th>
<th><center>Required:</th>

<th><center>Quarter:</th>
<th><center>Week:</th>
	<th><center>Grade:</th>
		<th><center>Semester:</th>
			<th><center>Weekly Social Studies Grade:</th>
				<th><center>Weekly Science Grade:</th>

	 <tr>
<td width="300 px"><center>{{object.curriculum.name}}</td>
<td width="10%"><center>{{object.complete}}</td>

<td width="10%"><center>{{object.required}}</td>


<td width="10%"><center>{{object.quarter}}</td>


	<td width="10%"><center>{{object.week}}</td>


	<td width="10%"><center>{{object.grade}}</td>


	<td width="10%"><center>{{object.semester}}</td>
</tr>

 

</table>
<!-- <p></p>
      <a href='{{ object.get_edit_url }}' > Edit
        {{object.name}}</a>       
  </div>
</div>
</div> -->


