{% extends "base.html" %}

{% block content %}
Delete Gradebook
<h1>Student: {{gradebook.student.first_name}} {{gradebook.student.last_name}}:</h1>
<br/><a>Curriculum: {{gradebook.curriculum.name}} </a>
<br/><a> Academic Semester: {{gradebook.academic_semester}}</a>
<br/><a> Quarter: {{gradebook.quarter}}</a>
<br/><a> Week: {{gradebook.week}}</a>
<br/><a> Grade: {{gradebook.grade}}</a>
<br/><br/><br/>

<form action="/grades">
    <input type="submit" value="No, Do Not Delete" />
</form>

<p></p>

<form method='POST'> {% csrf_token%}
  <button class='btn btn-danger'> Yes, Delete </button>
</form>

{% endblock %}
