<!-- #epiclive heroku -->
{% extends "base.html" %}

{% block head_title %}
<body>
<h2>Grades and MORE</h2>

<p>This is your personal website.  <br/> <br/>This site is hidden from other people, unless you make it public.<br/>
NO OTHER PERSON at your school has access.  <br/><br/>ONLY YOUR students are in this database.  It is private to YOU.  <br/><br/>NO ONE can see ANYTHING on this site, not even your principal, unless you share your log-in information.</p>
<p>
<!-- Help a friend by sending them the form to get their own website:  <a href="https://forms.gle/d9Q1ADBKi2Q5D2Bo7">https://forms.gle/d9Q1ADBKi2Q5D2Bo7</a><br/></p>
<p>
Your next payment is due on:<br/>

Payment may be submitted via PayPal to:  larryandshellie@yahoo.com</p> -->
{% endblock %}


<!-- {{ title }} -->

<!-- {{ user }} -->
<!-- prints username out onto the screen... -->

<!-- {{request.user}} -->
<!-- prints username out onto the screen... -->

<!-- {{request.path}} -->
<!-- prints path onto the screen... -->



<!-- {% if user.is_authenticated%}
but, instead put the user authentication in the view definition. -->

      <!-- <h1> This data shows (this list too) only to someone that is logged in. </h1> -->
      <!-- The loop below only happens if there are values for it, and the view has an if statement to run them... -->


          <!-- {% for a in my_list %}
            <li> {{a}} </li>
          {% endfor %} -->
<!-- {% endif %} -->

{% block content %}
{% endblock %}


