<!-- #epiclive heroku -->
{% extends "base.html" %}

{% block head_title %}
<center>
  {% now "F" as todays_month %}
    {% if todays_month == "January" %}
      {% load staticfiles %} <img src="{% static 'images/january.jpg' %}" width= "30px" />
      {% endif %}

{% now "F" as todays_month %}
    {% if todays_month == "February" %}
      {% load staticfiles %} <img src="{% static 'images/february.jpg' %}" width= "30px" />
      {% endif %}

{% now "F" as todays_month %}
    {% if todays_month == "March" %}
      {% load staticfiles %} <img src="{% static 'images/march.jpg' %}" width= "30px" />
      {% endif %}

{% now "F" as todays_month %}
    {% if todays_month == "April" %}
      {% load staticfiles %} <img src="{% static 'images/april.jpg' %}" width= "30px" />
      {% endif %}


{% now "F" as todays_month %}
    {% if todays_month == "May" %}
      {% load staticfiles %} <img src="{% static 'images/may.jpg' %}" width= "30px" />
      {% endif %}

{% now "F" as todays_month %}
    {% if todays_month == "June" %}
      {% load staticfiles %} <img src="{% static 'images/june.jpg' %}" width= "30px" />
      {% endif %}


{% now "F" as todays_month %}
    {% if todays_month == "July" %}
      {% load staticfiles %} <img src="{% static 'images/july.jpg' %}" width= "30px" />
      {% endif %}


{% now "F" as todays_month %}
    {% if todays_month == "August" %}
      {% load staticfiles %} <img src="{% static 'images/august.jpg' %}" width= "30px" />
      {% endif %}


{% now "F" as todays_month %}
    {% if todays_month == "September" %}
      {% load staticfiles %} <img src="{% static 'images/september.jpg' %}" width= "30px" />
      {% endif %}

{% now "F" as todays_month %}
    {% if todays_month == "October" %}
      {% load staticfiles %} <center><img src="{% static 'images/october.jpg' %}" /></center>
      {% endif %}


{% now "F" as todays_month %}
    {% if todays_month == "November" %}
      {% load staticfiles %} <img src="{% static 'images/november.jpg' %}" />
      {% endif %}


        {% now "F" as todays_month %}
  {% if todays_month == "December" %}
      {% load staticfiles %} <img src="{% static 'images/december.jpg' %}"/>
      {% endif %}
{% if user.is_authenticated%}
 {% ifequal user.groups.all.0.name "Teacher" %}

<body>
<h2>Grades and MORE</h2>

<p>This is your personal website.  <br/> <br/>It is accessible to YOU ONLY.<br/>
NO OTHER PERSON has access or knows about it.  <br/><br/>NO ONE can see ANYTHING on this site, unless you share your log-in information.</p>
<p>
<!-- Help a friend by sending them the form to get their own website:  <a href="https://forms.gle/d9Q1ADBKi2Q5D2Bo7">https://forms.gle/d9Q1ADBKi2Q5D2Bo7</a><br/></p>
<p>
Your next payment is due on:<br/>

Payment may be submitted via PayPal to:  larryandshellie@yahoo.com</p> -->

<p>Do you need a standard added?  <a href="https://forms.gle/baSq48zHHrrSY2MY8">Complete this form.</a></p>

<p>Do you need a curriculum added?  <a href="https://forms.gle/yXymhDWikZcJz4Vv7">Complete this form.</a></p>

<p>Do you need a student added? <a href="/students-setup/">Click here.</a></p>

<center>{% load staticfiles %} <img src="{% static 'images/tynercreeksoftwarewhitebackground.jpg' %}" width= "200px" />
<div font=4, align='center', color='grey', style = 'italics'> You have a fulltime custom software designer for your website.  YOUR satisfaction is important.  For ANY problems at all, <a href="mailto:tynercreeksoftware@gmail.com">simply send a message!</a></center></div>

{% endifequal %}

{% ifequal user.groups.all.0.name "Owner" %}


<h3>Hello {{user.get_username}}!</h3>
<p></p>
<h2>You are logged in as an Owner.</h2>

{% endifequal %}

{% ifequal user.groups.all.0.name "Student" %}

<p></p>



<h3>Hello {{user.get_username}}!</h3>
<p><iframe src="https://calendar.google.com/calendar/embed?src=epiccharterschools.org_9ag6j2bkeke0v6sqpoag1s34b4%40group.calendar.google.com&ctz=America%2FChicago" style="border: 0" width="800" height="600" frameborder="0" scrolling="no"></iframe></p>

<p><a href="https://epiccharterschools.org/student-parent-handbook">View The Epic Student and Parent Handbook</a></p>

<p><a href="{{user.student.teacher_syllabus}}">View Your Teacher's Classroom Syllabus</a></p>
<p><a href="https://epiccharterschools.org/learning-fund">What is the Learning Fund?</>
<p><a href="mailto:{{user.student.teacher_email}}">eMail Your Teacher</a></p>

<p><a href="{{user.student.teacher.zoom_link}}">Zoom With Your Teacher</a></p>

<h3>Attendance Policy:</h3>
<p>Because of our unique structure, there is no daily roll call. Gradable assignments are the Epic attendance record. Epic measures 100% attendance as 40 gradable assignments each nine weeks. It is important for families to understand that at the end of each of the four quarters, students must have an attendance of at least 76% to remain enrolled. One way to picture the relationship between gradable assignments and attendance could be described using the subject of Math. One gradable Math assignment at Epic might represent five days of work in a traditional brick and mortar classroom. All students with less than 76% attendance will be withdrawn at the end of each quarter. </a></p>
<p><a href="">View The Epic Student Handbook</p>

  <h3>What Is A Gradable Assignment?</h3>
  <p>Gradable Assignments (Attendance Points) are determined by your teacher.  You will know exactly what you need to complete on your Weekly Assignment List to receive credit for each assignment.  There are five possible Gradable Assignments (Attendance Points) each week.</p>

  <p><a href="mailto:support@epiccharterschools.org">Contact technical support.</a></p>

{% endifequal %}

{% else %}
<h1>
<a href="/login">Please log in here.</a></h1>
{% endif %}
{% endblock %}


<!-- {{ title }} -->

<!-- {{ user }} -->
<!-- prints username out onto the screen... -->

<!-- {{request.user}} -->
<!-- prints username out onto the screen... -->

<!-- {{request.path}} -->
<!-- prints path onto the screen... -->



<!-- {% if user.is_authenticated%}
but, instead put the user authentication in the view definition. -->

      <!-- <h1> This data shows (this list too) only to someone that is logged in. </h1> -->
      <!-- The loop below only happens if there are values for it, and the view has an if statement to run them... -->


          <!-- {% for a in my_list %}
            <li> {{a}} </li>
          {% endfor %} -->
<!-- {% endif %} -->

{% block content %}
{% endblock %}


