{% regroup assignments|dictsort:"cur_pk" by cur_pk as as_list %}
<div class='col-80 col-md-100 mb-1 mx-auto'>
    <strong>{{student.get_full_name}}'s PLP For This Week</strong><p></p>
    <p>Epic Teacher: {{teacher.first_name}} {{teacher.last_name}}</p>

Here are the lessons and standards that {{student.get_full_name}} will be working on this week.

    {% for cur in as_list %}
    <div class='card'>
      <div class = 'card-title'>
          <h3>Curriculum: {{cur.list.0.curriculum}}<br/>
          Grade level: {{cur.list.0.grade_level}}, Subject: {{cur.list.0.subject}}</h3>
      </div>
      <div class='card-body'>
        {% for item in cur.list %}
        {{ item.title }}, {{item.grade_level}}, {{item.subject}}<br/>
         <small>Standards: {{ item.standards }}</small><br/>
        {{ item.detail }}<br/>
        <br/>
        {% endfor %}
      </div>
    </div>
    {% endfor %}
</div>
