{% load filter_tags %}

<h4 class = 'card-title'> Curriculum: {{object.name}} </h4>
<p>{{ object.curriculum_assignment.standard.count }}</p>
Total OAS Standards in Grade and Subject:  {{totals|hash:object.name}}<br/>
<strong>OAS Testable Standards Covered In This Curriculum:  {{assignment_standards|hash:object.name}}<br/>
Percentage of OAS Standards Covered:  {{percentanges|hash:object.name}} %<br/></strong>
OAS Standards Not Covered by this Curriculum <strong>(Supplements Needed)</strong>: <br/> {% for i in not_covered|hash:object.name %}{{i}}, {% endfor %}<br/><br/>



