
<body>

<style>
    td {
        padding-top: 5px;
        padding-bottom: 5px;
        }
</style>
<table>
    <tr>
        <td>
            <strong>Student: </strong>{{student.first_name}} {{student.last_name}}
        </td>
    </tr>
    <tr>
        <td>
            <strong>Title: </strong>{{assignment.name}}
        </td>
    <tr>
        <td>
            <strong>Description: </strong>{{assignment.description}}
        </td>
    </tr>
</table>

<br>
Teacher, please verify completion.  This assignment has been marked as complete, but you may change the status here:
<a href="https://myonlineepic.com/curriculum-schedule/">https://myonlineepic.com/curriculum-schedule/</a>.  Changing to Assigned will put it back on the student screen under Weekly Assignment List the next time you send the list to the student's screen.  Changing the status to Incomplete will add it to the Late Assignments.


</body>
